
.conatiner-card{
    background-color: #ffff;
    width: 300px;
    height: 400px;
    border: none;
    border-radius: 10px;
    box-shadow: rgb(177, 177, 177) 1px 1px 1px 1px;
}

.container-card-pai{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}



.card-img {
    width: 100%; /* Faz com que a imagem ocupe toda a largura disponível */
    height: 60%; /* Ajusta a altura da imagem conforme necessário */
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites do contêiner */
}

.card-img img {
  width: 300px;
  height: 150px;
  object-fit: cover; /* Ajusta a imagem para cobrir o contêiner sem distorção */
}

.text-informacao{
    font-size: 18px;
   padding-left: 20px;
   margin-top: -70px;
}

.text-informacao h5{
   margin-bottom: 20px;
}

.text-informacao span{
 margin: 0;
}

.h5-nutricao{
    margin-top: 10px;
 
}


