#idCadastroNome {
    margin-bottom: 10px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 15px;
    width: 300px;
}

#idCadastroEmail {
    margin-bottom: 10px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 15px;
    width: 300px;
}

#confirm-senha {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 15px;
    width: 300px;
    margin-bottom: 10px;
}



#butao-cadastrar {
    border-radius: 12px;
    padding: 15px;
    margin-top: 20px;
    width: 320px;
    margin-right: 70px;
}

.card-body {
    width: 350px;
    background-color: #fff;
    height: 450px;
    border-radius: 15px;
}

#iconCadastroPersona {        /*senha*/
    max-width: 16px;
    max-height: 16px;
    margin-top: 13px;
    left: 10px;
   
}

#iconCadastroEmail {  /*Nome*/
    max-width: 16px;
    max-height: 16px;
    margin-top: 13px;
    left: 10px;

}

#iconCadastroSenha {     /*Email*/
    margin-top: 13px;
    left: 10px;
}

#idCadastoLogin{
    border-radius: 12px;
    margin-top: 20px;
    padding: 15px;
    width: 190px;
    margin-right: 60px;
}