.descrisao-home{
    text-align: center;
    margin-top: 20px;
    
}

.descrisao-home h3{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.descrisao-home  h3{
    margin-bottom: 20px;

}

#card-informacao{
    color: rgb(161, 161, 161);
    margin-left: 80px
}


#butao-fechar-home{
    position: absolute;
    left: 68%;
    transform: translateX(-50%);
    top: 18%;
    z-index: 111000;
}


#pesquisa-home{
  margin-left: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin-top: 40px;
  background-color: #B3E5DB;
  margin-bottom: 60px;
}

#lista-busca{
    list-style: none;
    padding: 0;
    margin-top: -60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 600px;
    background-color: #fff;
    margin-left:400px;
    margin-bottom:40px;
}


.input-container input {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Espaço para o ícone à direita */
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding-left: 38px; 
}


#iconBusca{
    left: 410px;
    position: absolute;
    margin-top: 12px;
}

.nome-frut{
 margin-left: 80px;
 font-family: "Poppins", sans-serif;
 font-weight: 600;
 font-style: normal;
   
}

.mySwiper{
   margin-bottom: 40px; 

}

footer{
    background-color: #B3E5DB;
    width: 100%;
    padding: 20px;
}

@media(max-width:1200px){
    #pesquisa-home{
        margin-left: 310px;
      }

      #iconBusca{
        left: 320px;
        position: absolute;
        margin-top: 12px;
    } 

    #lista-busca{
        width: 600px;
        margin-left:310px;
    }

    #butao-fechar-home{
        left: 70%;
        top: 15%;
    }
    
}

@media(max-width:960px){
    #pesquisa-home{
      margin-left: 150px;
    }

    #iconBusca{
        left: 160px;
        position: absolute;
        margin-top: 12px;
    }

    #lista-busca{
        width: 600px;
        margin-left:150px;
    }

    #butao-fechar-home{
        left: 70%;
        top: 15%;
    }
    
}

@media(max-width:860px){
    #pesquisa-home{
      margin-left: 120px;
    }

    #iconBusca{
        left: 130px;
        position: absolute;
        margin-top: 12px;
    }

    #lista-busca{
        width: 600px;
        margin-left:120px;
    }

    #butao-fechar-home{
        left: 80%;
        top: 15%;
    }
}

@media(max-width:760px){
    #pesquisa-home{
      margin-left: 100px;
      width: 560px;
    }

    #iconBusca{
        left: 110px;
        position: absolute;
        margin-top: 12px;
    }

    #lista-busca{
        width: 560px;
        margin-left:100px;
    }

    #butao-fechar-home{
        left: 80%;
        top: 15%;
    }
}


@media(max-width:660px){
    #pesquisa-home{
      margin-left: 90px;
      width: 500px;
    }

    #iconBusca{
        left: 100px;
        position: absolute;
        margin-top: 12px;
    }

    #lista-busca{
        width: 500px;
        margin-left:90px;
    }

    #butao-fechar-home{
        left: 85%;
        top: 15%;
    }

}

@media(max-width:580px){
    #pesquisa-home{
      margin-left: 0px;
      width: 250px;
    }

    #iconBusca{
        left:10px;
        position: absolute;
        margin-top: 50px;
    }

    .div-pai{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nome-frut{
        text-align: center; 
        margin: 0;   
    }

    #lista-busca{
        width: 250px;
        margin-left:0px;
    }

    #card-informacao{
        margin: 0;
        text-align: center;
        font-size: 15px;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    #butao-fechar-home{
        left: 70%;
        top: 15%;
    }
      
}