/* Modal.css */

/* Modal.css */

.modal-overlay {
  position: fixed; /* Fixa o modal na tela */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semitransparente */
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  z-index: 1000;
}

.modal-container {
  background-color: white;
  width: 400px;
  max-width: 90%; /* Responsivo para telas menores */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  padding: 20px; /* Espaçamento interno */

  /* Garante que o conteúdo não quebre a centralização */
  position: relative;
  max-height: 90vh; /* Evita que ultrapasse a altura da tela */
  overflow-y: auto; /* Adiciona rolagem caso o conteúdo ultrapasse o limite */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


.modal-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

h2 {
  margin: 16px;
  font-size: 24px;
}

.modal-descricao {
  padding: 0 16px;
  font-size: 16px;
  color: #333;
}

.modal-valores {
  padding: 0 16px;
  margin-top: 10px;
}

.modal-valores h4 {
  margin-bottom: 8px;
  font-weight: bold;
}

.modal-valores p {
  margin: 4px 0;
}

#butao-modal {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #36d396;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

#butao-modal:hover {
  background-color: #2bb57f;
}

.butao-fecha{
 
  margin-top: -405px;
  position: absolute;
  left: 355px;
  z-index: 1000;
}

#butao-fecha-modal{
  width: 5px;
  height: 5px;
  color: black;
  align-items: center;
  display: flex;
  position: fixed;
  justify-content: center;
  /* background-color: rgba(129, 138, 138, 0.712); */
  background-color: #2bb580ab;
}


  
  @media(max-width:1200px){
    .butao-fecha{
      left: 280px;
    }

  }

  @media(max-width:960px){
    .butao-fecha{
      left: 280px;
    }

  }

  @media(max-width:860px){
    .butao-fecha{
      left: 280px;
    }

  }

  @media(max-width:760px){
    .butao-fecha{
      left: 280px;
    }


  }


  @media(max-width:660px){
    .butao-fecha{
      left: 300px;
    }

  }

  @media(max-width:580px){
    .butao-fecha{
      left: 280px;
    }
  }