header{
    background-color: #B8EEE3;
    padding: 20px;
}

header h1{
    text-align: center;
    color: #077660;
}

.descrisao-home{
    text-align: center;
    margin-top: 20px;
    
}

.descrisao-home h3,span{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.descrisao-home  h3{
    margin-bottom: 20px;

}

#pesquisa-home{
  margin-left: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin-top: 40px;
  background-color: #B3E5DB;
  margin-bottom: 60px;
}


#iconBusca{
    left: 410px;
    position: absolute;
    margin-top: 12px;
}

.nome-frut{
 margin-bottom: 50px;
 margin-left: 80px;
 font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
   
}

.mySwiper{
   margin-bottom: 40px; 

}